$primary-color: #3A7BD5;
$body-background: #F0F5FA;
$white: #FFFFFF;
$card-footer: #2895E2;
$card-logo-background: #6195DD;
$select: #F9FAFB;
$hamburger-background: #2F3542;
$box-shadow: #9FC2ED;
$title-logo-background: #EAF3FC;
$title-logo-color: #3A7BD5;
$title-color: #57606F;
$title-bottom-text: #D5DAE3;
$title-bottom: #747D8C;
$grey2: #EBF2FB;
$button-text: #3A7BD6;
$button-background: #F3F7FD;

$card-logo-bg: #20CEFB;
$card-bg: linear-gradient(to bottom, #03CEFD, #3385DA);
$icon-color: #3A7BD5;
$grey-text: #D5DAE3;
$dark-grey-text: #576080;
$grey: #BCB1BE;